<% provide(:title, @item.name) %>
<h1>
  <%= @item.name %>
</h1>

<p>
  <strong>商品名：</strong>
  <%= @item.name %>
</p>

<p>
  <strong>価格：</strong>
  <%= @item.price %>
</p>

<% if current_user %>
<%= button_to "カートに入れる", items_show_path({user_id: current_user.id, item_id: @item.id}) %>
<% end %>
<%= link_to 'Back', items_path %>
