<% provide(:title, @item.name) %>
<h1>
  <%= @item.name %>
</h1>

<p>
  <strong>商品名：</strong>
  <%= @item.name %>
</p>

<p>
  <strong>価格：</strong>
  <%= @item.price %>
</p>

<p>
  <strong>在庫数量：</strong>
  <%= @item.stock %>
</p>

<% if current_user && @item.stock > 0 %>
<%= button_to "カートに入れる", params: { item_id: @item.id } %>
<% end %>
<%= link_to 'Back', items_path %>
