<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "ショッピングサイト", items_index_path, id: "logo" %>
          <ul class="nav navbar-nav navbar-right">
            <% if logged_in? %>
              <li class="nav-Item"><%= link_to current_user.name , '#' %></li>
              <li class="nav-item"><%= link_to "ログアウト", logout_path, method: :delete %></li>
            <% else %>
              <li class="nav-item"><%= link_to "ログイン", login_path %></li>
            <% end %>
          </ul>
      </div>
    </header>
    <%= yield %>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
